<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/table.css" type="text/css">
    <meta charset="ISO-8859-1">
    <title>Attrition</title>
</head>
<body>
    <h1>Employee Attrition</h1>
    <form action="/home">
        <button type="Submit" class="btnhome">Home</button>
    </form>
    <form action="/graph">
        <button type="Submit" class="btn1">Graphical Analysis</button>
    </form>
<!--    <form action="/update">-->
<!--        <button type="Submit" class="btn1">Update Again</button>-->
<!--    </form>-->
    <h3>
        <div class="flashes">
            {% for message in get_flashed_messages()%}
                Accuracy: {{ message }}%
            {% endfor %}
        </div>
    </h3>
    <table class="blueTable">
        <th>ID</th><th>Attrition</th>
        {% for row in data %}
            <tr>
                {% for d in row %}
                    <td>{{ d }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
<!--    <div class="sugg">-->
<!--        <h2>Prevailing Factors</h2>-->
<!--        Employee ID: 1 | Monthly Income<br><br>-->
<!--        Employee ID: 3 | Percent Salary Hike<br><br>-->
<!--        Employee ID: 13 | Distance From Home<br><br>-->
<!--        Employee ID: 28 | Monthly Income<br><br>-->
<!--    </div>-->
    {% block content %}
    {% if display_eval == True %}
    <div class="sugg">
            <h2>Model Performance</h2>
            Accuracy : {{ evaluations[0] }}<br><br>
            Precision: {{ evaluations[1] }}<br><br>
            Recall: {{ evaluations[2] }}<br><br>
            Sensitivity: {{ evaluations[3] }}<br><br>
            Specitivity: {{ evaluations[4] }}<br><br>
    </div>
    {% endif %}
    {% endblock content %}
</body>
</html>